#introduction {
    background-color: darkseagreen
}
section #brief {
    font-size: 2em
}
h1 {
    font-size: 3em;
    color: darkslateblue
}
.box{
    display: inline-block;
    width: 49%;
    text-align: left;
    vertical-align: top;
}
/* .box#intro_text {
    text-align: left;
    vertical-align: top;
} */
div .picture#intropic {
    object-fit: cover;
}
#introduction .contact{
    margin-top: 1em;
    text-align: left;
}
#introduction button:hover {
    background-color: aquamarine;
}
#introduction button{
    border-radius: 5em;
    font-size: 1.5em;
    text-align: center;
}
#about {
    background-color: darkolivegreen
}
#about h1 {
    text-align: center;
    margin-top: 1em;
}
#about h2 {
    font-size: 2em;
    color: darkslateblue;
}
.icon {
    width: 2em;
    height: 2em;
}
.info {
    font-size: 2em;
}
.info#email {
    font-style: italic;
}